# fly.toml app configuration file generated for sydney-umbrella on 2025-10-19T12:51:44+11:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'sydney-umbrella'
primary_region = 'syd'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
